<main class="main body__main">
    <h2 class="main__sectionTtl">自己分析する</h2>
    <%- include('./_mainMenuTab.ejs'); %>
    <div class="saguru__form">
        <%- include('./_mainEpisode.ejs'); %>
        <%- include('./_mainChronology.ejs'); %>
        <%- include('./_mainAnalysis.ejs'); %>
        <%- include('./_mainSummary.ejs'); %>
    </div>
</main>